body {
  background-color: #212121;
  color: #f6f6f6;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: #6d9886;
  height: 0;
  width: 5%;
}

a {
  color: #d9cab3;
}

h1,
h2 {
  color: #6d9886;
}

#profile-pic {
  border-radius: 50%;
  height: 15vh;
}
