body {
  background-color: #212121;
  color: #f6f6f6;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: #6d9886;
  height: 0px;
  width: 5%;
}

a {
  color: #d9cab3;
}

#profile-pic {
  height: 15vh;
  border-radius: 50%;
}
